/* About Section */

.about{
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    color: #30abd5;
}
.back1{
    background-color: #80bfff;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    height: 55vh;
}
.back1 img{
    height: 50vh;
    border-radius: 3rem;
}
#wrap2 {
    margin: 20px auto;
    text-align: center;
}
.btn-slide {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #0099cc;
    margin: 10px;
    transition: .5s;
}

.btn-slide {
    border: 2px solid #0099cc;
}

.btn-slide:hover {
    background-color: #0099cc;
}

.btn-slide:hover span.circle {
    left: 100%;
    margin-left: -45px;
    background-color: #fdfdfd;
    color: #0099cc;
}

.btn-slide:hover span.circle {
    color: #0099cc;
}

.btn-slide:hover span.title {
    left: 40px;
    opacity: 0;
}

.btn-slide:hover span.title-hover {
    opacity: 1;
    left: 40px;
}

.btn-slide span.circle {
    display: block;
    background-color: #0099cc;
    color: #fff;
    position: absolute;
    float: left;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.btn-slide span.circle {
    background-color: #0099cc;
}

.btn-slide span.title,
  .btn-slide span.title-hover {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #30abd5;
    transition: .5s;
}

.btn-slide span.title,
  .btn-slide span.title-hover {
    color: #0099cc;
    left: 80px;
  }

.btn-slide span.title-hover {
    left: 80px;
    opacity: 0;
}

.btn-slide span.title-hover {
    color: #fff;
}

.btn1{
    color: #0099cc;
    border-radius: 50%;
    padding: 1rem 1rem;
    border-color: #0099cc;
    background-color: transparent;
}
.educate{
    display: flex;
    justify-content: center;
}
.vertical {
    border-left: 6px solid #0099cc;
    height: 20vh;
    position:absolute;
    left: 50%;
}
.box{
    background-color: rgba(128, 128, 128, 0.693);
    border-radius: 3rem;
    color: white;
    margin-left: 5rem;
    margin-top: 2rem;
}
.box1{
    background-color: rgba(128, 128, 128, 0.693);
    border-radius: 3rem;
    color: white;
    margin-left: 5rem;
}
.education1{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
}
.dot{
    display: flex;
    justify-content: center;
   
}
.end{
    color: #0099cc;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 0.4rem;
}

.progress {
  width: 150px;
  height: 150px !important;
  float: left; 
  line-height: 150px;
  background: none;
  margin: 20px;
  box-shadow: none;
  position: relative;
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #000;
  font-size: 24px;
  color: #fff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}
.progress.blue .progress-bar {
  border-color: #049dff;
}
.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.css .progress-bar {
  border-color: #049dff;
}
.progress.css .progress-right .progress-bar {
  animation: loading-3 1.8s linear forwards;
}
.progress.bootstrap .progress-bar {
  border-color: #049dff;
}
.progress.bootstrap .progress-right .progress-bar {
  animation: loading-2 1.8s linear forwards 1.8s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.card1 img{
  border-radius: 4rem;
  box-shadow: 1rem 1rem 0.5rem grey;
}

.card1 {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008bbaf5;
  overflow: hidden;
  width: 100%;
  height:100%;
  transition: .3s ease;
  transform: scale(0);
  border-radius: 2rem;
}

.card1:hover .overlay {
  transform: scale(1);
}

.name1 {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.faShowOnMob
{
  display: none;
}

.direction
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

 

@media screen and (max-width:768px) {
  .columnReverse
  {
    flex-direction: column-reverse;
  }

  .faShowOnMob
{
  display: flex;
}
.fahideOnMob
{
  display: none;
}

.education1 
{
  align-items: center;
}

.headingfive
{
  text-align: center;
}

.progress.blue
{
  margin-left: 0px;
  margin-right: 0px;
}

.navbar-nav a:hover {
  background-color: red !important;
  border-radius: 0rem;
}
}
 