/* Contact Section */

.back2{
    background-image: url('./Images/student-g61c2ed676_1920.jpg');
    height: 70vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.back2::after{
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.571);
}
.z{
    z-index: 2;
    position: absolute;
}

.box2{
    z-index: 2;
    position: absolute;
    background-color: white;
    height: 60vh;
    border-radius: 1rem;
}
.btn2{
    padding: 1rem 2rem;
    background-color: #0099cc;
    border-color: #0099cc;
    border-radius: 3rem;
    color: white;
}
.btn2:hover{
    border-color: #0099cc;
    background-color: transparent;
    color: #0099cc;
}
.btn3{
    border: none;
    background-color: #0099cc;
    color: white;
    border-radius: 50%;
    padding: 1rem 1rem;
}
