/* Portfolio Section */
.card1 img{
    border-radius: 2rem;
    box-shadow: 1rem 1rem 0.5rem grey;
}
.card1 {
    position: relative;
}

.image {
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008bbaf5;
    overflow: hidden;
    width: 100%;
    height:100%;
    transition: .3s ease;
    transform: scale(0);
    border-radius: 2rem;
}
  
.card1:hover .overlay {
    transform: scale(1);
}
  
.name1 {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

