/* Nav Section */
.navbar-nav a{
    font-weight: 700;
    color: black;
}
.navbar-nav a:hover{
    background-color: white;
    border-radius: 2rem;
}

.navbar{
    background-color: #30abd5;
}

.name{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: #e1ecf2;
}
#wrap {
    margin: 20px auto;
    text-align: center;
}
.btn-slide2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #0099cc;
    margin: 10px;
    transition: .5s;
}

.btn-slide2 {
    border: 2px solid #008066;
}

.btn-slide2:hover {
    background-color: #008066;
}

.btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #fdfdfd;
    color: #0099cc;
}

.btn-slide2:hover span.circle2 {
    color: #008066;
}

.btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}

.btn-slide2 span.circle2 {
    display: block;
    background-color: #0099cc;
    color: #fff;
    position: absolute;
    float: left;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.btn-slide2 span.circle2 {
    background-color: #008066;
}

.btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #30abd5;
    transition: .5s;
}

.btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    color: #008066;
    left: 80px;
  }

.btn-slide2 span.title-hover2 {
    left: 80px;
    opacity: 0;
}

.btn-slide2 span.title-hover2 {
    color: #fff;
}